@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: #F4E5BC;
}

.bayan {
  font-family: 'Roboto', sans-serif;
}

.mem {
  max-width: 50%;
  margin: 5% auto;
}

.title:hover {
  color: rebeccapurple;
}

.mem-item {
  margin-bottom: 1%;
  border-bottom: 0.5vh solid black;
}

.mem-title {
  display: block;
  padding: 0.3em 0.8em;
  color: black;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  font-weight: bold;

}


.mem-input {
  width: 0;
  height: 0;
  appearance: none;

}


.mem-input:checked~.mem-image {
  max-height: 100vh;
}

.mem-input:hover~.mem-image {
  max-height: 100vh;
  transition: 2s;
}



.mem-image {
  max-height: 0;
  overflow: hidden;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 50%;
  cursor: pointer;
  padding-bottom: 0.2em;
}

@media(max-width: 1100px) {
  .mem-title {
    font-size: 1em;
  }

  img {
    width: 80%;
  }

  .mem {
    max-width: 80%;
  }
}

@media(max-width: 430px) {
  .mem {
    max-width: 80%;
  }

  .mem-title {
    font-size: 0.7em;
  }

  img {
    width: 90%;
  }
}